<%= flash_messages %>

<div class="block">
  <header class="header-gropu">
    <h2>Rolify - Cancan - Devise</h2>
  </header>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>